<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>spring3</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring3</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RandomNumAjax</servlet-name>
    <servlet-class>com.icrany.ajax.RandomNumAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomNumAjax</servlet-name>
    <url-pattern>/randomNumAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRandomNum</servlet-name>
    <servlet-class>com.icrany.servlet.GetRandomNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRandomNum</servlet-name>
    <url-pattern>/randomNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KindEditorUploadServlet</servlet-name>
    <servlet-class>com.icrany.servlet.KindEditorUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KindEditorUploadServlet</servlet-name>
    <url-pattern>/kindEditorUpload</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SystemInitServlet</servlet-name>
  	<servlet-class>com.icrany.system.SystemInitServlet</servlet-class>
  	<load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>SystemInitServlet</servlet-name>
  	<servlet-class>com.icrany.system.SystemInitServlet</servlet-class>
  	<load-on-startup>9</load-on-startup>
  </servlet>
</web-app>